---
http_interactions:
- request:
    method: get
    uri: http://hscenquiry.hornsby.nsw.gov.au/Pages/XC.Track/SearchApplication.aspx?d=last14days&k=LodgementDate&o=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>907341</ApplicationId>\r\n
        \   <NatureOfApplication>Development Application                           </NatureOfApplication>\r\n
        \   <NatureOfApplicationType>437</NatureOfApplicationType>\r\n    <ApplicationType>DA
        \   </ApplicationType>\r\n    <ReferenceNumber>DA/339/2019</ReferenceNumber>\r\n
        \   <ReferenceNumberYear>2019</ReferenceNumberYear>\r\n    <ReferenceNumberNumber>339</ReferenceNumberNumber>\r\n
        \   <ApplicationDetails>CONSTRUCTION OF A NEW  DWELLING HOUSE, SWIMMING POOL
        &amp; SHED AND CHANGE OF USE OF EXISTING DWELLING TO A SECONDARY DWELLING</ApplicationDetails>\r\n
        \   <CreatedDate>2019-05-07T00:00:00+10:00</CreatedDate>\r\n    <LodgementDate>2019-06-04T00:00:00+10:00</LodgementDate>\r\n
        \   <OfficerTitle>Assessment Team 2 - Major                         </OfficerTitle>\r\n
        \   <Officer>Development Assessments                           </Officer>\r\n
        \   <ApplicationIdS>907341</ApplicationIdS>\r\n    <Determination>\r\n      <ApplicationId>907341</ApplicationId>\r\n
        \     <DeterminationDate>2019-05-16T16:47:56+10:00</DeterminationDate>\r\n
        \     <EffectiveDate>2019-05-16T00:00:00+10:00</EffectiveDate>\r\n      <DeterminationType>Rejected</DeterminationType>\r\n
        \     <AuthorityParty>Delegated                                         </AuthorityParty>\r\n
        \     <ApplicationIdS>907341</ApplicationIdS>\r\n    </Determination>\r\n
        \   <Determination>\r\n      <ApplicationId>907341</ApplicationId>\r\n      <DeterminationDate>2019-06-04T15:05:50+10:00</DeterminationDate>\r\n
        \     <EffectiveDate>2019-06-04T00:00:00+10:00</EffectiveDate>\r\n      <DeterminationType>Approved</DeterminationType>\r\n
        \     <AuthorityParty>Delegated                                         </AuthorityParty>\r\n
        \     <ApplicationIdS>907341</ApplicationIdS>\r\n    </Determination>\r\n
        \   <Address>\r\n      <PropertyId>331690</PropertyId>\r\n      <ApplicationId>907341</ApplicationId>\r\n
        \     <Line1>247 New Line Road DURAL  NSW  2158</Line1>\r\n      <Line2 />\r\n
        \     <Role>Property Applications                             </Role>\r\n
        \     <ApplicationIdS>907341</ApplicationIdS>\r\n    </Address>\r\n    <Party>\r\n
        \     <PartyId>273614</PartyId>\r\n      <ApplicationId>907341</ApplicationId>\r\n
        \     <PartyRole>Applicant                                         </PartyRole>\r\n
        \     <Sequence>1</Sequence>\r\n      <FamilyName>ZEAITER</FamilyName>\r\n
        \     <GivenName>CHARLES STEVEN</GivenName>\r\n      <Initial>CS   </Initial>\r\n
        \     <NameType>P</NameType>\r\n      <FullName>Mr Charles Steven Zeaiter</FullName>\r\n
        \     <ApplicationIdS>907341</ApplicationIdS>\r\n    </Party>\r\n    <Event>\r\n
        \     <ApplicationId>907341</ApplicationId>\r\n      <ApplicationIdS>907341</ApplicationIdS>\r\n
        \   </Event>\r\n  </Application>\r\n  <Application>\r\n    <ApplicationId>911037</ApplicationId>\r\n
        \   <NatureOfApplication>Development Application                           </NatureOfApplication>\r\n
        \   <NatureOfApplicationType>437</NatureOfApplicationType>\r\n    <ApplicationType>DA
        \   </ApplicationType>\r\n    <ReferenceNumber>DA/1097/2018/A</ReferenceNumber>\r\n
        \   <ReferenceNumberYear>2018</ReferenceNumberYear>\r\n    <ReferenceNumberNumber>1097</ReferenceNumberNumber>\r\n
        \   <Amendment>A</Amendment>\r\n    <ApplicationDetails>SECTION 4.55 (1A)
        - CONSTRUCTION OF A DWELLING HOUSE, DETACHED GARAGE AND SECONDARY DWELLING</ApplicationDetails>\r\n
        \   <CreatedDate>2019-05-27T00:00:00+10:00</CreatedDate>\r\n    <LodgementDate>2019-05-27T00:00:00+10:00</LodgementDate>\r\n
        \   <Officer>Stephen Dobbs                                     </Officer>\r\n
        \   <ApplicationIdS>911037</ApplicationIdS>\r\n    <Address>\r\n      <PropertyId>371501</PropertyId>\r\n
[...]
